.main {
	display: flex;
	flex-direction: row;
}

.border {
	margin-left: 80px;
    position: fixed;
    height: 100%;
    width: 1px; /* 혹은 다른 선의 두께에 맞게 조절 */
    background-color: #52525255; /* 선의 색상 설정 */
}