.main {
	display: flex;
	flex-direction: row;
}

.main::after {
	position: fixed;	
	border: 5px solid #525252a4;
	position: 'fixed';
    top: '0';
    left: '0';
    right: '0';
    bottom: '0';
    border: '2px solid #000';
    padding: '10px';
}

.border {
	margin-left: 80px;
    position: fixed;
    height: 100%;
    width: 1px; /* 혹은 다른 선의 두께에 맞게 조절 */
    background-color: #52525255; /* 선의 색상 설정 */
}